@font-face {
    font-family: Seravek;
    font-weight: bold;
    src: url(../fonts/Seravek-Bold.ttf);
}

body{
	cursor : pointer;
	color : #2F2933;
	text-align: center;
	margin : 0;
}

canvas, img {
    image-rendering: optimizeQuality;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
}

.user-image {
	width: 100%;
}

.caption-container {
	text-align: center;
	margin-top : 3em;
}

.caption {
	background-color: #D46A6A;
  padding : 0.7em;
  border-radius : 0.5em;
  margin : 0.2em;
  width : 75%;
  border : none;
  outline : none;
  resize : none;
  font-size : 1em;
  font-weight : lighter;
  font-family: Seravek;
}

.file-upload{
	display : inline-block;
  border-radius : 0.5em;
	border : dashed;
  margin-top: 2em;
	width : 80%;
	height : 200px;
}

.title{
	text-align: center;
	font-family: Helvetica, Hiragino Sans GB, sans-serif;
	letter-spacing: -0.05em;
	font-size: 7em;
}

.descript-box {

	background: #999;
	color: #fff;

	font-family:Helvetica, sans-serif;
	font-size : 200%;
	
	margin-right : 88px;
	padding: 30px 10px;
	position: absolute;
	opacity : 0.6;
}

.descript-enter {
	opacity: 0.1;
	transition: opacity .15s ease;
}

.descript-enter.descript-enter-active {
	opacity : 0.6;
}

.descript-leave {
	opacity: 0.6;
	transition: opacity .15s ease;
}

.descript-leave.descript-leave-active {
	opacity : 0.1;
}

.liked-box {
	text-align: center;

	font-family: Seravek, sans-serif;
	font-weight:Bold;
	font-size: 6em;
	letter-spacing: -0.04em;
	background: #999;
	color: #fff;

	padding: 10px;
	position: absolute;
	display : inline-block;
	opacity : 0.8;
}

.liked-enter {
	opacity: 0.1;
	transition: opacity .15s ease;
}

.liked-enter.liked-enter-active {
	opacity : 0.8;
}

.liked-leave {
	opacity: 0.8;
	transition: opacity .15s ease;
}

.liked-leave.liked-leave-active {
	opacity : 0.1;
}

.moveUp-enter {
  position: absolute;

  transition-duration: .3s;
  transition-property: transform, opacity;
  transition-timing-function: ease-out;
  transform: translate3d(0,100%,0);
  -webkit-transform: translate3d(0,100%,0);

  z-index: 10000;
}

.moveUp-enter.moveUp-enter-active {
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);

}

.moveUp-leave {
  position: absolute;

  transition-duration: .3s;
  transition-property: transform, opacity;
  transition-timing-function: ease-out;
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);

  opacity: 1;
}

.moveUp-leave.moveUp-leave-active {
  transform: translate3d(0,-15%,0);
  -webkit-transform: translate3d(0,-15%,0);

  opacity: 0.3;
}

.moveDown-enter {
  position: absolute;

  transition-duration: .3s;
  transition-property: transform, opacity;
  transition-timing-function: ease-out;
  transform: translate3d(0,-100%,0);
  -webkit-transform: translate3d(0,-100%,0);

  z-index: 10000;
}

.moveDown-enter.moveDown-enter-active {
  transform: translate3d(0,0,0);
}

.moveDown-leave {
  position: absolute;

  transition-duration: .3s;
  transition-property: transform, opacity;
  transition-timing-function: ease-out;
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);

  opacity: 1;
}

.moveDown-leave.moveDown-leave-active {
  transform: translate3d(0,15%,0);
  -webkit-transform: translate3d(0,15%,0);
  opacity: 0.3;
}

.fade-enter {
  opacity: 0.01;
  transition: opacity .1s ease-in;
}

.fade-enter.fade-enter-active {
  opacity: 1;
}

.fade-leave {
  opacity: 1;
  transition: opacity .1s ease-in;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
}

.button {
	background-color: rgba(255, 255, 255, 0.85);
	padding: 0.3em 0;

	border-radius: 2em;

	font-size: 3em;
	position : fixed;
	right : 5%;
	bottom :5%;
}
